
body {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  h1 {
    color: skyblue;
  }
  
  .card {
    background-color: #333;
  }
  
  .form-control {
    background-color: #444;
    color: #fff;
    border-color: #666;
  }
  
  .btn-secondary {
    background-color: #666;
    color: #fff;
  }
  
  .btn-primary {
    background-color: #1976d2;
    border-color: #1976d2;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .form-check-label {
    color: #fff;
  }
  
  .form-check-input:checked {
    background-color: #1976d2;
  }
  
  .form-check-input:checked:focus {
    background-color: #1976d2;
    box-shadow: none;
  }
  
  .form-check-input:checked:active {
    background-color: #1976d2;
  }
  
  .form-check-input:checked:hover {
    background-color: #1976d2;
  }
  
  #addItemsContainer{
    display: flex;
    flex-direction: column;
}

.item_index_count{
    font-size: 20px; 
    padding: 3px; 
    width: 45px; 
    text-align: center;
}

.itemsInputDiv{
    display: flex; 
    padding: 5px 0px;
}

.strikeCheck{
    margin-right: 10px;
}

#listCardsContainer{
    flex-direction: row;
    flex-wrap: wrap;
}

.noteCard{
    box-shadow: 3px 1px 10px rgb(155, 155, 155);
    width: 33rem;
}

.threeButtons{
    position: absolute;
    align-self: bottom;
    bottom: 0;
    padding: 12px 0px;
    
}